<div class="flex flex-col w-full max-w-[825px] mx-auto pt-[120px]" x-data="boards">

  <template x-teleport="body">
    <%= render "modal" %>
  </template>

  <div class="flex items-center gap-x-3 mb-2">
    <%= heroicon 'user', variant: :outline, options: {class: 'w-[24px] h-[24px]'} %>
    <h3 class="font-bold">Your Boards</h3>
  </div>
  <div>
    <ul class="flex flex-row gap-x-4">

        <% @boards.each do |board| %>
            <li class="py-1">
                <a href="/board/<%= board.id %>">
                  <div class="flex w-[194px] h-[96px] rounded-[3px] p-2" style="background-color: var(--theme-<%= board.color %>-dark);">
                    <span class="is-size-3 text-white font-bold"><%= board.title %></span>
                  </div>
                </a>
            </li>
        <% end %>

      <li class="py-1" x-ref="createBoardButton" x-on:click="showModal">
        <div class="flex justify-center items-center w-[194px] h-[96px] rounded-[3px] cursor-pointer" style="background-color: #091e420a;">
          <span class="text-sm text-[#172b4d]">Create New Board</span>
        </div>

      </li>

    </ul>
  </div>
</div>